<div class="header header-fixed u-unselectable header-animated">
  <div class="header-brand">
    <div class="nav-item no-hover">
      <a><h6 class="title">ESP32 BLE Scanner</h6></a>
    </div>
    <div
      class="nav-item nav-btn"
      id="header-btn"
      x-ref="menu_button"
      @click="toggleMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="header-nav" id="header-menu" x-ref="menu">
    <div class="nav-right">
      <div
        x-ref="tab_logging"
        class="nav-item"
        :class="tab == 'logging' ? 'active' : ''"
      >
        <a href="#" @click="setActiveTab('logging')">Logging</a>
      </div>
      <div
        x-ref="tab_devices"
        class="nav-item"
        :class="tab == 'devices' ? 'active' : ''"
      >
        <a href="#" @click="setActiveTab('devices')">Devices</a>
      </div>
      <div
        x-ref="tab_settings"
        class="nav-item"
        :class="tab == 'settings' ? 'active' : ''"
      >
        <a href="#" @click="setActiveTab('settings')">Settings</a>
      </div>
      <div class="nav-item has-sub" id="dropdown">
        <a class="nav-dropdown-link" @click="$refs.admin_menu.classList.toggle('dropdown-shown');">Admin</a>
        <ul class="dropdown-menu" role="menu" x-ref="admin_menu">
          <li role="menu-item"><a href="#" @click="fetch('/api/reboot')">Reboot</a></li>
          <li role="menu-item"><a href="#" @click="fetch('/api/clearignores')">Clear Ignores</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
