<pre>
    <code class="u-overflow-x-auto u-overflow-y-scroll dark h-panel" :class="logging.wrap_lines ? '' : 'no-y-wrap'">
    </code>
  </pre>
<div class="form-ext-control">
  <label class="form-ext-toggle__label"
    ><span>Wrap lines</span>
    <div class="form-ext-toggle">
      <input
        name="wrapLogText"
        type="checkbox"
        class="form-ext-input"
        x-model="logging.wrap_lines"
      />
      <div class="form-ext-toggle__toggler"><i></i></div>
    </div>
  </label>
</div>
